
@{
    Layout = null;
    NewsWeb.Models.Users user = Session["userFG"] as NewsWeb.Models.Users;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="~/Content/assets/login/css/styles.css">

    <title>Login form - MiTi</title>
</head>
<body>
    <div class="login">
        <img src="~/Content/assets/login/img/login-bg.png" alt="image" class="login__bg">

        <form action="~/Login/ConfirmChangePasswordFG" method="post" class="login__form">
            <h1 class="login__title">Thay đổi mật khẩu</h1>
            <span> @ViewBag.ErrorMessage</span>
            <div class="login__inputs">
                <div class="login__box">
                    <input type="email" name="email" placeholder="@user.email" required class="login__input" readonly>
                    <i class="ri-mail-fill"></i>
                </div>


                <div class="login__box">
                    <input type="password" name="passwordCP" placeholder="Password" required class="login__input">
                    <i class="ri-lock-2-fill"></i>
                </div>
                <div class="login__box">
                    <input type="password" name="re_passwordCP" placeholder="Re_Password" required class="login__input">
                    <i class="ri-lock-2-fill"></i>
                </div>
            </div>

            <div class="login__check">
                <div class="login__check-box">
                    <input type="checkbox" class="login__check-input" id="user-check">
                    <label for="user-check" class="login__check-label">Remember me</label>
                </div>

                <a href="#" class="login__forgot">Forgot Password?</a>
            </div>

            <button type="submit" class="login__button">Thay đổi mật khẩu</button>

            <div class="login__register">
                Do have an account? <a href="~/Login/Login">Login</a>
            </div>
        </form>
    </div>
</body>
</html>
