
@{
    Layout = null;
    String er = ViewBag.ErrorMessage;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="~/Content/assets/login/css/styles.css">

    <title>Login form - MiTi</title>
</head>
<body>
    <div class="login">
        <img src="~/Content/assets/login/img/login-bg.png" alt="image" class="login__bg">

        <form action="~/Login/CheckEmailFG" method="post" class="login__form">
            <h1 class="login__title">Vui lòng nhập email của bạn</h1>
            <span>@er</span>
            <div class="login__inputs">
                <div class="login__box">
                    <input type="email" name="emailForgot" placeholder="Email" required class="login__input">
                    <i class="ri-mail-fill"></i>
                </div>

            </div>
            <button type="submit" class="login__button">Gửi mã xác nhận</button>

            <div class="login__register">
                Bạn chưa nhận được ? <a href="~/Login/Login">Trở lại</a>
            </div>
        </form>
    </div>
</body>
</html>
