
@{
    Layout = null;
    String er = ViewBag.ErrorMessage;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="~/Content/assets/login/css/styles.css">
    <link href="/Content/assets/img/favicon.png" rel="icon">
    <link href="/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Content/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/Content/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="/Content/assets/css/variables.css" rel="stylesheet">
    <link href="/Content/assets/css/main.css" rel="stylesheet">
    <title>Login form - MiTi</title>
</head>
<body>
    @Html.Partial("Header")<!-- End Header -->
    <div class="login">
        <img src="~/Content/assets/login/img/login-bg.png" alt="image" class="login__bg">

        <form action="~/Login/CheckEmailFG" method="post" class="login__form">
            <h1 class="login__title">Vui lòng nhập email của bạn</h1>
            <span>@er</span>
            <div class="login__inputs">
                <div class="login__box">
                    <input type="email" name="emailForgot" placeholder="Email" required class="login__input">
                    <i class="ri-mail-fill"></i>
                </div>

            </div>
            <button type="submit" class="login__button">Gửi mã xác nhận</button>

            <div class="login__register">
                Bạn chưa nhận được ? <a href="~/Login/Login">Trở lại</a>
            </div>
        </form>
    </div>
</body>
</html>
